GOOGLE_TRANSLATE_API_KEY=AlzaSyCJ42YJ1tYREmPvH9AlU2iyFhAx5AbYytw
GOOGLE_TRANSLATE_URL=https://translation.googleapis.com/language/translate/v2
OLLAMA_MODEL=llama3.1:8b-instruct
OLLAMA_NUM_PREDICT=1600
